<img src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" alt >
<mat-grid-list cols="3" rowHeight="500px">
  <mat-grid-tile *ngFor="let Employee of Company_Employees">

    <mat-card class="card">
  <img class="img-container"  mat-card-image src="{{Employee.img}}" alt="Photos of CodeTripe Employee" style="width:100%">
  <mat-card-content>
       <h1>{{Employee.FirstName}} {{Employee.LastName}} </h1>
    <p class="title">{{Employee.Title}}</p>
    <p>
      {{Employee.Age}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" >Update</button>

      <button mat-raised-button (click)="openDialog(Employee)" color="warn">Delete</button>
  </mat-card-actions>
</mat-card>

  </mat-grid-tile>
</mat-grid-list>